{% extends "bootstrap/base.html" %}
{% block title %}物联网服务平台-首页{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">首页</a>
        </div>
        <div class="navbar-collapse collapse">
            <div class="navbar-collapse collapse" style="height:30; width:50; margin-left:0px; margin-top:0px; float:left">
                <ul class="nav navbar-nav">
                    <li><a href="/">平台介绍</a></li>
                </ul>
            </div>
            <div class="navbar-collapse collapse" style="height:30; width:50; margin-left:0px; margin-top:0px; float:left">
                <ul class="nav navbar-nav">
                    <li><a href="http://47.95.254.34">蚂蚁笔记</a></li>
                </ul>
            </div>
            <div class="navbar-collapse collapse" style="height:30; width:50; margin-left:0px; margin-top:0px; float:left">
                <ul class="nav navbar-nav">
                    <li><a href="http://47.95.254.34:8081/iot/spi/static/swagger-ui/index.html">APIs</a></li>
                </ul>
            </div>
            <div class="navbar-collapse collapse" style="height:30; width:50; margin-left:0px; margin-top:0px; float:right">
                <ul class="nav navbar-nav">
                    <li><a href="/console">控制台</a></li>
                </ul>
            </div>
            <div class="navbar-collapse collapse" style="height:30; width:50; margin-right:0px; margin-top:0px; float:right">
                <ul class="nav navbar-nav">
                    <li><a href="/login">登录</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block content %}
<div class="container">

    {% block page_content %}

    <body background="img/1.png">
        <h2>Design of IoT Service platform for smart home system</h2>
        <h4>Abstract</h4>
        <p>With the maturity of technologies such as Internet of Things, big data, cloud computing, the development of Internet of Things applications has been booming. Smart homes, as an important application area of Internet of Things technology, have been widely studied in recent years, and a large number of applications have also emerged product. At present, smart home design mainly exists, lacks theoretical basis, existing system control capability is poor, scalability is insufficient, server resource utilization efficiency is not high, and there are problems such as high access threshold and poor compatibility of the platform.

In view of the above issues, the four-tier architecture of the Internet of Things is proposed, that is, a platform layer is added to the original three-tier architecture of the Internet of Things to connect the technology solutions of the application layer and the perception layer of the Internet of Things, and a set of smart home internet of things service platforms is researched and developed.

This article studies the theory and many technical solutions of smart home systems, and develops a web-based PaaS/IoT PaaS hybrid smart home networking service platform based on RESTful-style services. The smart home service platform adopts Web Service technology to provide web interfaces on the one hand. On the other hand, the MQTT protocol event interface is implemented based on the Web interface. InfluxDB time series storage is adopted for smart home device data, combined with a smart home gateway to achieve concurrent access to massive smart home IoT devices and persistent storage of device data clouds, and remote intelligent control. Other important functions.

After a rigorous software testing process, this smart home IoT service platform can effectively solve many problems in current smart home systems and can provide a safe and reliable service.</p>
        <h4>Keywords</h4>
        <p>Keywords：Smart Home; IoT Platform; MQTT; Web Service; REST</p>
    </body>
    {% endblock %}
</div>
{% endblock %}


